
/* Global */
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}


html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{    
    background-color:#ffffff;
    overflow-x: hidden;       
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.color-red {
  color: #df5a48;
}

.color-red:hover {
  color: #a84335; 
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.list-padding {
  padding-left: 18px;
}

/* Colors */
.red {
  color : #CF3A3A!important;
}

.green {
  color : #32A83C!important;
}

/* Fonts */

.neucha {
  
}

.amatic{
  
}

/* Commons */

.neucha h1, .neucha h2, .neucha h3, .neucha h4, .neucha h5 {
  
}

.max-width-100 {
  max-width: 100px;
}

.max-width-160 {
  max-width: 160px;
}

.max-width-260 {
  max-width: 260px;
}

.pointer {
  cursor: pointer;
}

.circle {
  display: block;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.square {
  display: block;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.nav > li > a {
  padding: 15px 10px;
}

.rotating {
    -webkit-animation: rotating 50s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-2px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-2px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.btn-group {
  margin: 6px 5px;
}

.spinner {
  -webkit-animation-name: ddspin;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: ddspin;
  -moz-animation-duration: 800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: ddspin;
  -o-animation-duration: 800ms;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -ms-animation-name: ddspin;
  -ms-animation-duration: 800ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: ddspin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes ddspin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes ddspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes ddspin {
    from { -webkit-transform: rotate(0deg); -webkit-transform-origin: 50% 50%; }
    to { -webkit-transform: rotate(360deg); -webkit-transform-origin: 50% 50%; }
}

@keyframes ddspin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Headers */

.ha-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 50;
  font-family: 'Lato', Arial, sans-serif;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.ha-header.to-up {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ha-header.to-down {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.main-title {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 48px;
}

.main-title.to-up {
  font-size: 48px;
}

.main-title.to-down {
  font-size: 28px;
  margin-left: 87px;
}

.title_container{
  height: 112px;
}

.menu-icon {
  display: block;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.photo-profile-cv {
  background-image: url('/images/edu.jpg');
  height: 225px;
  border-radius: 2em;
  border: 3px solid #eee;
}

.photo-profile-cv:hover {
  background-image: url('/images/edu_02.jpg');
}

.photo-profile {
  position: absolute;
  top: -4px;
  background-image: url('/images/photo_profile.jpg');
  width: 76px;
  height: 76px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #eee;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.photo-profile.to-up {
  opacity: 0;
}

.photo-profile.to-down {
  opacity: 1;
}

/* Menu */
.navbar-collapse {
  max-height: none;
}

.navbar-wrapper .navbar-nav li.active>a {
  color: #E45555;
}

.navbar-wrapper .login-icon {

}

.md-sidenav-backdrop {
  z-index: 200;
}

.md-sidenav-right {
  position: fixed!important;
  margin-top: 0px;
  z-index: 200;
}

.sidebar.md-sidenav-right.md-locked-open {
  left: 90%;
}

.menu-button {
  background-image: url("//material-design.storage.googleapis.com/images/hamburger.svg");
  /* background: transparent center center no-repeat; */
  background-size: 48px 28px;
  border: 0;
  display: block;
  height: 48px;
  overflow: hidden;
  text-indent: -9999px;
  top: 8px;
  width: 48px;
  height: 40px;
  z-index: 2;
  right: 0;
  background-position: 0px;
  margin: 10px 20px;
}

/* Containers */

.site_container {
  
}

.content-wrapper{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#disqus_thread {
  margin: 20px;
}

/* Footers */

/* First Content */

.main-message h1 {
  font-weight: bold;
}

.photo-main {
  background-image: url('/images/photo_profile.jpg');
  width: 260px;
  height: 260px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
}


/* Blog */
.blog-body {
  margin-top: 70px;
}

.posts-container {
  max-width: 1278px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap ;
}

.panel-body {
  overflow: hidden;
}

.panel-body img {
  max-width: 100%;
  height: auto;
}

.badge-primary {
  background-color: #428bca;
}

.edit-post {
  margin-right: 10px;
}

.image-post-wrapper {
  max-height: 260px;
  overflow: hidden;
}

.image-post {
  width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width:767px) {

    .main-title,
    .main-title.to-up {
      font-size: 30px;
      margin-right:35px;
    }

    .main-title.to-down {
      margin-left:0px;
    }

    .photo-profile.to-down {
      display: none;
    }

    .content{
        padding:20px;
    }
    .contact-set{  
        padding-top:20px;  
        border-bottom:solid 1px #ccc;
    }
    .contact-set-end{   
        padding-top: 20px; 
        border-bottom:none;
    }
    .home-hero h1, .home-hero h2, .counter {    
        font-weight: lighter;    
        font-size: 30px;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.1;
    }
    .footer .contact{
        padding:15px;
    }
    .footer-logo{
        width:135px;
    }
    .home-hero {
        text-align:center;
        color:#fff;
        padding:0px;
    }

    .menu-icon {
      display: block;
      top: 0px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:992px) {

    .main-title {
    }

    .main-title.to-down {
      text-align: left;
    }

    .photo-profile.to-down {
      left: 60px;
    }

    .navbar-collapse.collapse {
      display: none !important;
    }

    .menu-icon {
      display: block;
    }

    .navbar-collapse {
      max-height: 340px;
      padding-right: 15px;
      padding-left: 15px;
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      -webkit-overflow-scrolling: touch;
    }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) {
    .content {
        padding:100px;
    }
    .contact-set{    
        border-right:solid 1px #ccc;
    }

    .contact-set-end{    
        border-right:none;
    }
    .home-hero h1, .home-hero h2, .counter {      
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 1.1;
    }

    .contact{
        padding:35px;
        border-left:solid 1px #fff;
    }
    .footer-logo{
        width:225px;
    }
    .note-img{
        margin-left:55px;
    }
    .home-hero {
        text-align:center;
        color:#fff;
        height:600px;
        padding:0px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .menu-icon {
      display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {    
    .content {
        padding:150px;
    }
    .contact-set{    
        border-right:solid 1px #ccc;
    }

    .contact-set-end{    
        border-right:none;
    }

    .home-hero h1, .home-hero h2, .counter {      
        font-size: 50px;
        letter-spacing: 2px;
        line-height: 1.1;
    }

    .footer .contact{
        border-left:solid 1px #fff;
    }
    .footer-logo{
        width:225px;
    }
    .note-img{
        margin-left:55px;
    }

    .home-hero {
        text-align:center;
        color:#fff;
        height:600px;
        padding:0px;
    }

}


.logo {
    margin-top:-7px;
}

#home {
  padding-top: 160px;
  background-color: #df5a48;
}

.another-container {
  padding-top: 60px;
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
}

.another-container .container {
  padding-top: 35px;
  background-color: #E5E5E5;
  width: 100%;
  min-height: 100%;
}

.post-card {
  padding-left: 15px;
  padding-right: 15px;
}

.small-post {
  max-height: 170px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
}

.small-post p {
  margin: 0;
}

.navbar-header {
  width: 100%;
}

.navbar-collapse {
  float: right;
}

.header-alt {
    background-color:#004d65;
}
.header {
    background-color:#ffffff;
}

.footer{
    background-color:#001b23;
    color:#fff;
}

.row-blue{
   background-color:#007ba1;
}

.row-gray {
    background-color:#efefef;
}

.header-nav li>a {
    color:#726A6A;
}
.header-nav li>a:hover, .header-nav li>a:focus{
    color:#E45555;
}

.header-nav-right .dropdown>a {
    color:#726A6A;
}

.header-nav .dropdown-menu li>a{
    color:#333;
}

.header-nav .dropdown-menu li>a:hover, 
.header-nav .dropdown-menu li>a:focus,
.header-nav-right .dropdown li>a:hover,
.header-nav-right .dropdown li>a:focus,
.header-nav-right .dropdown-menu li>a:hover, 
.header-nav-right .dropdown-menu li>a:focus{
    color:#726A6A;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color:transparent;
}

.header-nav li > a:hover,
.header-nav-right li > a:hover {
    background-color:transparent;
}
.header-nav li > a:focus,
.header-nav-right li > a:focus {
    background-color:transparent;
}

.active {    
    color: #E45555;
}

.contact-set:hover img,
.contact-set-end:hover img {
  opacity: 0.7;
}

.contact-set h3{
    color:#333;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    padding:10px;
}

.contact-set p{
    text-align:center;
}

.contact-set img{
    width:100px;
}

.contact-info{
    margin:0 auto;
    padding:10px;
    text-align:center;
}
.contact-info a{    
}

.home-hero h2 {   
    font-size: 40px;
}  

.row-white{
    background-color:#fff;
}

.logo{
    width:130px;
}
.img-center{
    margin:0 auto;
}

.panel {
  border-radius: 0px;
}

.panel-box{
    box-shadow: 0 0 30px #4d4d4d;
}

.pop-shot{
    background-color:#004d65;
    padding:50px;
}

.pricing {
    text-align:center;
}
.pricing-header{    
    color:#333;
    padding:10px;    
    text-align:center;
}
.money{
    color:#00a600;
    font-weight:lighter;
    padding:10px;
    font-size:40px;
}

.note {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin: 5px 0px 0px;
}

.message {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin:0 auto;
  text-align:center;
}

#results{
    box-shadow: 0 0 30px #4d4d4d;
}

#tech ul{
    list-style:none;
}

.panel-error, .panel-success{
    height:35px;
    text-align:center;
    padding:7px;
}
.bubble
{
    color:#333;
    text-align:left;
    position: relative;
    width: 560px;
    padding: 20px;
    background: #efefef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;    
    margin-top:20px;
    margin-left:8px;
}
 
.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: #efefef transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -12px;
    left: 73px;
}

.demo {
    margin-top:25px;
}
.demo-result-valid{
    background-color:#5cb85c;
}
.demo-result-invalid{
    background-color:#b85c5c;
}
.demo-result-iffy{
    background-color:#c2b237;
}

.demo-result-default{
    color:#969696;
    background-color:#757575;
    border:none;
    border:solid 1px #757575;
}
.demo-result{    
    font-size: 20px;
    border:solid 1px #ccc;    
}
.demo-result .arrow-up{    
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 8px solid transparent;
}
.demo-result span{
    padding-top:10px;
}
.demo-result.active {
    border-bottom:solid 1px #004d65;
}
.demo-result.active .arrow-up{
    margin:0 auto;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 8px solid #004d65;
}
.demo-type{
    font-size:small;
}
.demo-result-info{
    padding:15px;
}

.projects-header{
    text-align:center;
    color:#fff;
    padding:10px;    
}

.projects {
    color:#fff;
}

.projects .media {
    margin:25px;
}

.projects .media:hover img{
  -webkit-filter: brightness(110%);
  -moz-filter: brightness(3px);
  -o-filter: brightness(110%);
  -ms-filter: brightness(110%);
  filter: brightness(110%);
}

#validity{
    padding:20px;
    text-align:left;
}
#validity, #validity a, #validity a:hover, #validity a:focus, #validity a:visited{    
    color:#fff;
}

#validity .glyphicon{
    font-size:35px;
}

.form .glyphicon{
    color:#bfbfbf;
}

.bootstrap-switch-handle-off, .bootstrap-switch-handle-on{
    padding:10px;
}
.glyphicons:before {
    position:inherit;
    left: 0;
    top: 0;
    display: inline-block;
    margin: 0 0px 0 0;
    font: inherit;
    font-style: normal;
    font-weight: normal;
    color:inherit;
    vertical-align: middle;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.glyphicons {
    color:inherit;    
    font-size:inherit;
    font-family:'Glyphicons Regular';
    padding-left:0px;
}
.glyph{    
    font-size:16px/1em;
    padding-bottom:5px;
}
.glyph-icon{
    font-size:32px/2em;
}
.glyph-icon-lg{
    font-size:45px;
    padding-right:20px;
}
.form .glyphicons{
    color: #bfbfbf;    
}