<div class="blog-body" layout="vertical" layout-fill layout-align="center center">
    <div layout="vertical" layout-md="horizontal" class="row posts-container grid" layout-align="center center">

            <md-card flex flex-md="30" ng-repeat="post in posts" >
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-time"></span>{{post.date | date}}
                        <a href="/blog/entry/{{post._id}}" class="pull-right">{{lang.translate.BLOG.VIEWALL}}</a>
                        <a ng-if="isAdmin" href="admin/post/{{post._id}}" class="edit-post glyphicon glyphicon-pencil pull-right"></a>
                    </div>
                    <h4>{{post.title}}</h4>
                </div>
                <div class="panel-thumbnail image-post-wrapper">
                    <img ng-src="{{post.srcImg}}" class="image-post img-responsive">
                </div>
                <div class="panel-body">
                    <div ng-bind-html="post.summary" class="small-post"></div>
                </div>
            </md-card>

    </div>
    <div layout="vertical" layout-sm="horizontal" layout-align="space-around" ng-if="loading">
        <md-progress-circular mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="vertical" layout-fill ng-if="!readedall && !loading">
        <md-button><a class="md-raised" flex href="/blog/{{offset}}/{{limit}}">{{lang.translate.BLOG.LOADMORE}}</a></md-button>
    </div>
</div>
