<div class="container-fluid neucha another-container" >

<!--main-->
<div class="container" id="main" style="background-color:white">

  <div class="row">
  	<div class="col-md-12 ha-waypoint" data-animate-down="to-down" data-animate-up="to-up"><h2>Posts</h2></div>
    <div class="col-md-4 col-sm-6">
    	<div class="well" ng-if="isAdmin"> 
             <form class="form-horizontal" role="form" ng-submit="savePost(postData)">
              <h4>What's New</h4>
               <div class="form-group" style="padding:14px;">
                <textarea ng-model="postData.body" class="form-control" placeholder="Update your status"></textarea>
              </div>
              <button class="btn btn-success pull-right" type="submit">Post</button><ul class="list-inline"><li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a></li><li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a></li></ul>
            </form>
        </div>
    	<div class="panel panel-default" ng-repeat="post in posts" ng-if="$index%3==0">
           <div class="panel-heading">
           	<div>
           		<span class="glyphicon glyphicon-time"></span>{{post.date | date}}
           		<a href ng-click="goTo(post._id);" class="pull-right">View all</a> </div>
           	<h4>{{post.title}}</h4></div>
   			<div class="panel-body">
   			<!--
              <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=70" class="img-circle pull-right"> <a href="#">Guidance and Tools</a>
              <div class="clearfix"></div>
              <hr>-->
              <div ng-bind-html="post.body" class="small-post"></div>
            </div>
         </div> 
    </div>
     <div class="col-md-4 col-sm-6">
    	<div class="panel panel-default" ng-repeat="post in posts" ng-if="$index%3==1">
           <div class="panel-heading">
           	<div>
           		<span class="glyphicon glyphicon-time"></span>{{post.date | date}}
           		<a href ng-click="goTo(post._id);" class="pull-right">View all</a>
           	</div>
           	<h4>{{post.title}}</h4></div>
   			<div class="panel-body">
              <div ng-bind-html="post.body" class="small-post"></div>
            </div>
         </div> 
    </div>
     <div class="col-md-4 col-sm-6">
    	<div class="panel panel-default" ng-repeat="post in posts" ng-if="$index%3==2">
           <div class="panel-heading">
           	<div>
           		<span class="glyphicon glyphicon-time"></span>{{post.date | date}}
           		<a href ng-click="goTo(post._id);" class="pull-right">View all</a>
           	</div>
           	<h4>{{post.title}}</h4></div>
   			<div class="panel-body">
              <div ng-bind-html="post.body" class="small-post"></div>
            </div>
         </div> 

    </div><!--/articles-->
    </div>
    
    <hr>
        
  </div>
</div><!--/main-->
</div>