<div class="blog-body" layout="vertical">
    <div layout="horizontal">

        <div flex>

            <md-card ng-if="isAdmin">

                <form class="form-horizontal" role="form" ng-submit="savePost(postData)">
                    <h4>{{lang.translate.BLOG.WHATSNEW}}</h4>
                    <div class="form-group" style="padding:14px;">
                        <textarea ng-model="postData.body" class="form-control" placeholder="Update your status"></textarea>
                    </div>
                    <button class="btn btn-success pull-right" type="submit">{{lang.translate.COMMON.POST}}</button>
                    <ul class="list-inline">
                        <li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a>
                        </li>
                    </ul>
                </form>

            </md-card>
            <md-card ng-repeat="post in posts" ng-if="$index%3==0">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-time"></span>{{post.date | date}}
                        <a href="/blog/entry/{{post._id}}" class="pull-right">{{lang.translate.BLOG.VIEWALL}}</a>
                        <a ng-if="isAdmin" href="admin/post/{{post._id}}" class="edit-post glyphicon glyphicon-pencil pull-right"></a>
                    </div>
                    <h4>{{post.title}}</h4>
                </div>
                <div class="panel-thumbnail image-post-wrapper">
                    <img ng-src="{{post.srcImg}}" class="image-post img-responsive">
                </div>
                <div class="panel-body">
                    <div ng-bind-html="post.summary" class="small-post"></div>
                </div>
            </md-card>
        </div>

        <div flex>
            <md-card ng-repeat="post in posts" ng-if="$index%3==1">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-time"></span>{{post.date | date}}
                        <a href="/blog/entry/{{post._id}}" class="pull-right">{{lang.translate.BLOG.VIEWALL}}</a>
                        <a ng-if="isAdmin" href="admin/post/{{post._id}}" class="edit-post glyphicon glyphicon-pencil pull-right"></a>
                    </div>
                    <h4>{{post.title}}</h4>
                </div>
                <div class="panel-thumbnail image-post-wrapper">
                    <img ng-src="{{post.srcImg}}" class="image-post img-responsive">
                </div>
                <div class="panel-body">
                    <div ng-bind-html="post.summary" class="small-post"></div>
                </div>
            </md-card>

        </div>

        <div flex>

            <md-card ng-repeat="post in posts" ng-if="$index%3==2">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-time"></span>{{post.date | date}}
                        <a href="/blog/entry/{{post._id}}" class="pull-right">{{lang.translate.BLOG.VIEWALL}}</a>
                        <a ng-if="isAdmin" href="admin/post/{{post._id}}" class="edit-post glyphicon glyphicon-pencil pull-right"></a>
                    </div>
                    <h4>{{post.title}}</h4>
                </div>
                <div class="panel-thumbnail image-post-wrapper">
                    <img ng-src="{{post.srcImg}}" class="image-post img-responsive">
                </div>
                <div class="panel-body">
                    <div ng-bind-html="post.summary" class="small-post"></div>
                </div>
            </md-card>
        </div>
    </div>
    <div layout="vertical" layout-sm="horizontal" layout-align="space-around" ng-if="loading">
        <md-progress-circular mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="vertical" layout-fill ng-if="!readedall && !loading">
        <md-button flex class="md-raised" ng-click="loadMore()">{{lang.translate.BLOG.LOADMORE}}</md-button>
    </div>
</div>
