<nav class="navbar header navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
        	<div class="col-md-3">
        	</div>
        	<div class="col-md-4">
        		<div class="circle photo-profile" ></div>
        		<h1 class="main-title amatic">Eduardo Marín Izquierdo</h1>
        	</div>
		    <div class="col-md-5 navbar-wrapper">
		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav header-nav">
		                <li class="active"><a href="#home">Home</a></li>
		                <li><a href="#features">Features</a></li>
		                <li><a href="#security">Security</a></li>
		                <li><a href="#pricing">Pricing</a></li>
		                <li><a href="#contact">Contact</a></li>
		            </ul>
		            <div class="nav navbar-nav navbar-right header-nav-right navbar-form">
		                <a href="/Hub/Login"
		                    class="btn btn-md btn-info">
		                    Sign In
		                </a>
		            </div>
		        </div><!-- /.navbar-collapse -->
		    </div>
		</div>         
    </div><!-- /.container-->
</nav>

    <div class="container-fluid">
    

<div class="row home-hero content" id="home">
    <div class="col-md-12">
        <h1>Do you have any idea?</h1>
        <div class="row form" id="demoGroup">
        	<div class="col-md-6 col-md-offset-3">
        		<img class="max-width-260 img-responsive img-center" src="images/idea_01.png">
        	</div>
        </div>
        <h2>Then... I can do it reality!!!</h2>         
        <div class="row hidden" id="resultsGroup">                       
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div id="validity" class="col-md-8 col-md-offset-2 panel-box" style="border:none;">
                        <div class="media">
                            <a class="pull-left" href="#" onclick="showDetails();">
                                <span id="indicator"></span>
                            </a>
                            <div class="media-body">
                                <h4 id="status" class="media-heading"></h4>
                                <p>Sign up today to get detailed validation results</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="row-white row content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 pricing-header">
                <img src="images/tools.png" class="max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
                <h1>Those are my skills</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="padding-top:25px;">
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/html5_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>HTML5</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Nothing is more irritating than complicated pricing. No hidden fees, no sliding scale of charges. 1 flat rate, all the time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/js_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Javascript</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Industry newsletter taking off? Suddenly adding 1 million new subscribers? Cloudfish scales to handle your growth so you dont have to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/angular_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>AngularJS</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>It's your data. Realize its full potential by weeding out invalid addresses so you can target who matters.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set feature-set-end">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/css3_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>CSS3</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Support staff is on duty 24 hrs a day to make sure you get what you need.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:25px;">
                	<div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/bootstrap_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Bootstrap</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Nothing is more irritating than complicated pricing. No hidden fees, no sliding scale of charges. 1 flat rate, all the time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/nodejs_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>NodeJS</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Nothing is more irritating than complicated pricing. No hidden fees, no sliding scale of charges. 1 flat rate, all the time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/mongodb_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>MongoDB</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Industry newsletter taking off? Suddenly adding 1 million new subscribers? Cloudfish scales to handle your growth so you dont have to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/grunt_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Grunt</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>It's your data. Realize its full potential by weeding out invalid addresses so you can target who matters.</p>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row" style="padding-top:25px;">
                	<div class="col-md-3 feature-set feature-set-end">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/yeoman_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Yeoman</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Support staff is on duty 24 hrs a day to make sure you get what you need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/bower_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Bower</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Nothing is more irritating than complicated pricing. No hidden fees, no sliding scale of charges. 1 flat rate, all the time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/gae_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Google App Engine</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Industry newsletter taking off? Suddenly adding 1 million new subscribers? Cloudfish scales to handle your growth so you dont have to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 feature-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/openshift_shield_color.png" class="img-responsive img-center feature-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>OpenShift</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>It's your data. Realize its full potential by weeding out invalid addresses so you can target who matters.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="security" class="row-blue row content security">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 security-header">
                <img src="images/universidad_alcala.gif" class="img-responsive img-center" style="padding-bottom:10px;" />
                <h1>Security as a feature, not an afterthought.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/key.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">SSL 2048 all the time, every time</h4>
                        All traffic to and from our website and API is secured using SSL 2048-bit encryption.
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/shield.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">A+ superstar file security</h4>
                        All files uploaded to our system are encrypted at rest and sandboxed to prevent accidental or 
                        unauthorized access by other users or accounts.
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/storage.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">It's your data - let's keep it that way.</h4>
                        We do not retain any data after a result set is retrieved from our systems. Any file you upload is retained on our servers only until you download
                        the validation results. When validating through the UI or programmatically via the API, results are relayed 
                        in realtime and no data is retained after the callback has completed.                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pricing" class="row-gray row content pricing">
    <div class="col-md-12 pricing-header">
        <img src="images/contact_icon.png" class="max-width-160 img-responsive img-center" style="padding-bottom:10px;" />
        <h1>Do you want to contact me?</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Lets go!!</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 feature-set">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/linkedin_logo.png" class="max-width-100 img-responsive img-center feature-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Linkedin</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feature-set">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/google_plus_logo.png" class="max-width-100 img-responsive img-center feature-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Google Plus</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feature-set-end">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/twitter_logo.png" class="max-width-100 img-responsive img-center feature-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Twitter</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Validating 50,000 or more? 
                    Additional Api calls can be purchased in advance at a discounted rate of $0.002
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pop-shot">
    <div class="col-md-6 col-md-offset-3">
<form action="/Subscribe" class="form" id="notifyMe" method="post">            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="text" name="email" class="form-control input-lg" placeholder="My Email Address">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-lg">Get Updates!</button>
                </span>
            </div>
            <p class="note">We promise not to spam... scouts honor.</p>
</form>    </div>
</div>

        
<div class="row footer content" id="contact">
    <div class="col-md-3 col-md-offset-2">
        <a href="http://www.parallelllamas.com">
            <img src="images/pl_logo_alt.png" class="img-responsive footer-logo" width="225" />
        </a>
    </div>
    <div class="col-md-5 contact">
        <div class="row">
            <div class="col-md-12">
                <p>
                    I work as web application developer for an important bank company in Spain.

I am very responsible with the product to deliver. It means we have to apply several phases to the application building. We meet with the customer to collect right requirements and talk about diferent soluctions, and to analyze them. We use agile methods (SCRUM) to be sure that the product is following that requirements and we are always under deadline delivery.

About my developer knowledge and experience, javascript is the main programation language I often use to apply in our applications. The product deploy is made over GOOGLE APP ENGINE technologies and we have to know its limitations, API's.

We work with version control (SVN - GIT) and ANGULARJS framework. Now, I am testing with "DIV" widget concept under that tecnology, encapsulating functionality, styles, images and structure in a unique "js" file. I worked with anothers frameworks in the past. IRIS front (expert), JQUERY (expert), kendo, ...

Besides working in main projects, I work in a interesting project to improve our productivity and look for a common develop line in our teams. 

In this way, to enhance the "scaffolding" process or fast prototyping in the other projects I have worked with YEOMAN, GRUNT and BOWER to build diferent FRONT application generators based in ANGULARJS framework. It requires knowledges of NODEJS, and automatic deploy process (minified, concatenate, process, appcache...).

And all of this enyoing my work and the people I share it. ;-)
                </p>
            </div>
        </div>
    </div>
</div>

    </div><!-- /.container-->
