<div class="container-fluid neucha another-container" >

<!--main-->
<div class="container" id="main" style="background-color:white">

  <div class="row">
  	<div class="col-md-12 ha-waypoint" data-animate-down="to-down" data-animate-up="to-up">
		<h2 class="inline">{{postData.title}}</h2>
    </div>
    <div class="col-md-12">
    	<div class="panel panel-default">
   			<div class="panel-body">
              <span class="pull-right"><span class="glyphicon glyphicon-time"></span>{{postData.date | date}}</span>
              <div class="clearfix"></div>
              <hr>
              <div ng-bind-html="postData.body" ></div>
            </div>
         </div>
    </div>
  </div>
</div><!--/main-->
</div>