<div class="row">

    <div class="col-sm-12">
        <h1>Login</h1>
    </div>

    <div layout="horizontal" layout-fill layout-align="center center">

        <md-card>
            <div layout="vertical" layout-fill>
                <md-content class="text-fields">
                    <form style="padding: 20px;" ng-submit="login(form)">
                        <div layout="horizontal" layout-padding="30" layout-align="start center" class="row">
                            <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
                            <md-text-float label="Password" ng-model="user.password" type="password" class="long"></md-text-float>
                        </div>
                        <div layout="vertical" layout-padding="30" layout-fill>
                            <md-button class="md-raised md-primary" type="submit">Inicia sesión</md-button>
                        </div>
                    </form>
                </md-content>
            </div>
        </md-card>

    </div>

</div>
