<div class="container-fluid neucha" id="home">

<div class="row home-hero content" >
    <div class="col-md-12">
        <h1 class="main-message">{{userProfile.main.mainTitle}}</h1>
        <div class="row form" id="demoGroup">
          <div class="col-md-6 col-md-offset-3">
            <div class="circle photo-main" ></div>
          </div>
        </div>
        <h2>{{userProfile.main.secondaryTitle}}</h2>         
    </div>
</div>
<div id="skills" class="row-white row content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 pricing-header">
                <img src="images/tools.png" class="rotating max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
                <h1>{{lang.translate.SKILLS.MAIN}}</h1>
            </div>
        </div>
        <div class="row ha-waypoint" data-animate-down="to-down" data-animate-up="to-up">
            <div class="col-md-12">
                <div class="row" style="padding-top:25px;">
                    <div class="col-md-3 contact-set" ng-repeat-start="skill in userProfile.skills" ng-class="{'contact-set-end' : ($index + 1) %4 == 0 }">
                        <div class="row">
                            <div class="col-md-12">
                                <img ng-src="{{skill.logo || 'http://placehold.it/80/BBBBBB/FFF'}}" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{skill.title}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{skill.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" ng-if="($index + 1) % 4 == 0"></div>
                        <div ng-repeat-end=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="row-blue row content projects">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 projects-header">
                <img src="images/rocket.png" class="shake max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
                <h1>{{lang.translate.PROJECTS.MAIN}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="media pointer" ng-repeat="project in userProfile.projects" ng-click="goTo(project.link)">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/plus_small.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{project.title}}</h4>
                        {{project.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="row-gray row content pricing">
    <div class="col-md-12 pricing-header">
        <img src="images/coffee.png" class="max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
        <h1>{{lang.translate.CONTACT.CONTACTME}}</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>{{lang.translate.CONTACT.LETSGO}}</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 contact-set pointer" ng-click="goTo(_LINKEDIN)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/linkedin.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Linkedin</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 contact-set pointer" ng-click="goTo(_GOOGLEPLUS)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/google_plus.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Google Plus</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 contact-set-end pointer" ng-click="goTo(_TWITTER)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/twitter.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Twitter</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="row footer content" id="more-info">
    <div class="col-md-3 col-md-offset-2">
        <div class="square photo-profile-cv" ></div>
    </div>
    <div class="col-md-5 contact">
        <div class="row">
            <div class="col-md-12">
                <h2>{{lang.translate.CURRICULUM.EXPERIENCE}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{lang.translate.CURRICULUM.EXPERIENCE_01}}</h3>
                <h4>{{lang.translate.CURRICULUM.EXPERIENCE_DESCRIPTION_01}}</h4>
                <h5>{{lang.translate.CURRICULUM.EXPERIENCE_DATE_01}}</h5>
                <p ng-bind-html="lang.translate.CURRICULUM.DESCRIPTION_01"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{lang.translate.CURRICULUM.EXPERIENCE_02}}</h3>
                <h4>{{lang.translate.CURRICULUM.EXPERIENCE_DESCRIPTION_02}}</h4>
                <h5>{{lang.translate.CURRICULUM.EXPERIENCE_DATE_02}}</h5>
                <p ng-bind-html="lang.translate.CURRICULUM.DESCRIPTION_02"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{lang.translate.CURRICULUM.EXPERIENCE_03}}</h3>
                <h4>{{lang.translate.CURRICULUM.EXPERIENCE_DESCRIPTION_03}}</h4>
                <h5>{{lang.translate.CURRICULUM.EXPERIENCE_DATE_03}}</h5>
                <p ng-bind-html="lang.translate.CURRICULUM.DESCRIPTION_03"></p>
            </div>
        </div>
    </div>
</div>
<div class="row pop-shot">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 projects">
            <h3>{{lang.translate.FOOTER.QUESTION}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/Subscribe" class="form" id="notifyMe" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="text" name="email" class="form-control input-lg" placeholder="Mi e-mail" disabled="disabled">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" disabled="disabled">Envíamelo!</button>
                    </span>
                </div>
                <p class="note">{{lang.translate.FOOTER.NOWORRY}}</p>
            </form>
        </div>
    </div>
</div><!-- /.container-->
