  <div class="content-wrapper title_container">
    <div class="row">
      <div class="col-xs-12 col-md-3"><div class="circle photo-profile" ></div></div>
      <div class="col-xs-6 col-md-9"><h1 class="amatic">Eduardo Marín Izquierdo</h1><div>I'm working for a new site. Be patient!! ;-)</div></div>
    </div>
  </div>

<div class="footer_site">
  <div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-3"><img class="img-responsive" src="http://www.w3.org/html/logo/downloads/HTML5_1Color_White.png"/></div>
          <div class="col-xs-6 col-md-9"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3"><img class="img-responsive" src="https://theworkmob.com/static/img/angular-large.png"/></div>
          <div class="col-xs-6 col-md-9"></div>
        </div>        
    </div>
  </div>
</div>
 