<nav id="ha-header" class="neucha ha-header to-up navbar header navbar-fixed-top " role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-sm-7 col-md-5">
            <div class="circle photo-profile" ></div>
            <h1 class="main-title neucha">Eduardo Marín Izquierdo</h1>
          </div>
        <div class="col-sm-5 col-md-5 navbar-wrapper">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav header-nav">
                    <li class="active"><a href scroll-on-click sc-target="#home">Home</a></li>
                    <li><a href scroll-on-click sc-target="#skills">Skills</a></li>
                    <li><a href scroll-on-click sc-target="#projects">Projects</a></li>
                    <li><a href scroll-on-click sc-target="#contact">Contact</a></li>
                    <li><a href scroll-on-click sc-target="#more-info">More info</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>         
    </div><!-- /.container-->
</nav>

<div class="container-fluid neucha" id="home">
    

<div class="row home-hero content" >
    <div class="col-md-12">
        <h1 class="main-message">{{translate.MAIN.MESSAGE_01}}</h1>
        <div class="row form" id="demoGroup">
          <div class="col-md-6 col-md-offset-3">
            <div class="circle photo-main" ></div>
          </div>
        </div>
        <h2>{{translate.MAIN.MESSAGE_02}}</h2>         
    </div>
</div>
<div id="skills" class="row-white row content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 pricing-header">
                <img src="images/tools.png" class="rotating max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
                <h1>{{translate.SKILLS.MAIN}}</h1>
            </div>
        </div>
        <div class="row ha-waypoint" data-animate-down="to-down" data-animate-up="to-up">
            <div class="col-md-12">
                <div class="row" style="padding-top:25px;">
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/html5_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_01}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_01}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/js_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_02}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_02}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/angular_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_03}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_03}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set contact-set-end">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/css3_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_04}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_04}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:25px;">
                  <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/bootstrap_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_05}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_05}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/nodejs_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_06}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_06}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/mongodb_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_07}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_07}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set contact-set-end">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/grunt_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_08}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_08}}</p>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row" style="padding-top:25px;">
                  <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/yeoman_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_09}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_09}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/bower_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_10}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_10}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/gae_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_11}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_11}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 contact-set contact-set-end">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="images/openshift_shield_color.png" class="img-responsive img-center contact-set-img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{translate.SKILLS.TITLE_12}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{translate.SKILLS.DESCRIPTION_12}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="row-blue row content projects">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 projects-header">
                <img src="images/rocket.png" class="shake max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
                <h1>{{translate.PROJECTS.MAIN}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="media pointer" ng-click="goTo(_DUBIDUBA)">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/plus_small.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{translate.PROJECTS.TITLE_01}}</h4>
                        {{translate.PROJECTS.DESCRIPTION_01}}
                    </div>
                </div>
                <div class="media pointer" ng-click="goTo(_GEKO)">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/plus_small.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{translate.PROJECTS.TITLE_02}}</h4>
                        {{translate.PROJECTS.DESCRIPTION_02}}
                    </div>
                </div>
                <div class="media pointer" ng-click="goTo(_BOOKING)">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/plus_small.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{translate.PROJECTS.TITLE_03}}</h4>
                        {{translate.PROJECTS.DESCRIPTION_03}}                        
                    </div>
                </div>
                <div class="media pointer">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/plus_small.png" style="width: 64px; height: 64px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{translate.PROJECTS.TITLE_04}}</h4>
                        {{translate.PROJECTS.DESCRIPTION_04}}                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="row-gray row content pricing">
    <div class="col-md-12 pricing-header">
        <img src="images/coffee.png" class="max-width-260 img-responsive img-center" style="padding-bottom:10px;" />
        <h1>{{translate.CONTACT.CONTACTME}}</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>{{translate.CONTACT.LETSGO}}</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 contact-set pointer" ng-click="goTo(_LINKEDIN)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/linkedin.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Linkedin</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 contact-set pointer" ng-click="goTo(_GOOGLEPLUS)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/google_plus.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Google Plus</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 contact-set-end pointer" ng-click="goTo(_TWITTER)">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/twitter.png" class="max-width-100 img-responsive img-center contact-set-img" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Twitter</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="row footer content" id="more-info">
    <div class="col-md-3 col-md-offset-2">
        <a href="http://www.parallelllamas.com">
            <div class="square photo-profile-cv" ></div>
        </a>
    </div>
    <div class="col-md-5 contact">
        <div class="row">
            <div class="col-md-12">
                <p ng-bind-html="translate.CURRICULUM.BODY"></p>
            </div>
        </div>
    </div>
</div>
<div class="row pop-shot">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 projects">
            <h3>{{translate.FOOTER.QUESTION}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/Subscribe" class="form" id="notifyMe" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="text" name="email" class="form-control input-lg" placeholder="Mi e-mail">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg">Envíamelo!</button>
                    </span>
                </div>
                <p class="note">{{translate.FOOTER.NOWORRY}}</p>
            </form>
        </div>
    </div>
</div><!-- /.container-->
