<nav id="ha-header" ng-class="{'to-down' : !inMain}" class="neucha ha-header to-up navbar header navbar-fixed-top " role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="circle photo-profile" ng-class="{'to-down' : !inMain}" ></div>
            <h1 class="main-title neucha" ng-class="{'to-down' : !inMain}">Eduardo Marín Izquierdo</h1>
          </div>
          <div>
        <div class="col-sm-5 col-md-5 navbar-wrapper">
            <md-button ng-click="showSidebar=!showSidebar" class="pull-right menu-button"></md-button>
        </div>
    </div>         
    </div><!-- /.container-->
</nav>