<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Eduardo Marín Izquierdo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="E9WzzMYtoib9C4NPb-xJP6Wm5aYxCbSGFhr9utk4k2Y" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/css/flag-icon.min.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="eduardomarinFsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div navbar ></div>

    <div class="site_container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1024257-10', 'auto');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/skrollr/src/skrollr.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="bower_components/textAngular/src/textAngular-sanitize.js"></script>
        <script src="bower_components/textAngular/src/textAngularSetup.js"></script>
        <script src="bower_components/textAngular/src/textAngular.js"></script>
        
        <script src="scripts/lib/waypoints.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/building.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/blog.js"></script>
        <script src="scripts/controllers/admin.js"></script>
        <script src="scripts/controllers/entry.js"></script>
        <script src="scripts/controllers/admin/post.js"></script>
        <script src="scripts/controllers/admin/posts.js"></script>
        <script src="scripts/controllers/admin/profile.js"></script>
        
        <script src="scripts/directives/skrollr.dir.js"></script>
        <script src="scripts/directives/compile.js"></script>
        <script src="scripts/directives/dynamicDirective.js"></script>
        <script src="scripts/directives/scrollonclick.js"></script>
        <script src="scripts/directives/navbar.js"></script>
        <script src="scripts/directives/skillsAdminMngr.js"></script>
        <script src="scripts/directives/projectsAdminMngr.js"></script>

        <script src="scripts/services/lang.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/post.js"></script>
        
        <script src="scripts/filters/unsafe.js"></script>
        <!-- endbuild -->

</body>
</html>