<div class="col-md-2">
<md-card layout-padding>
  <!-- Left column -->
  <a href="/admin">
    <strong><i class="glyphicon glyphicon-dashboard"></i> {{lang.translate.COMMON.DASHBOARD}}</strong>
  </a>

  <hr>

  <ul class="list-unstyled">
    <li class="nav-header">
      <ul class="list-unstyled collapse in" id="userMenu">
        <li><a href="/admin/profile"><i class="glyphicon glyphicon-user"></i> {{lang.translate.COMMON.PROFILE}} </a></li>
        <li><a href="/admin"><i class="glyphicon glyphicon-book"></i> {{lang.translate.COMMON.BLOG}}</a>
          <ul class="list-unstyled list-padding">
            <li><a href="/admin/posts"><i class="glyphicon glyphicon-list-alt"></i> {{lang.translate.COMMON.POSTS}}</a></li>
          </ul>
        </li>
      </ul>
    </li>  
  </ul>

  <hr></md-card>
</div>