<!-- Header -->
<div style="background-color:white">
<!-- Main -->
<div class="container another-container">
<div class="row">
	<div class="col-md-2">
      <!-- Left column -->
      <a href="/admin"><strong><i class="glyphicon glyphicon-dashboard"></i> Dashboard</strong></a>  
      
      <hr>
      
      <ul class="list-unstyled">
        <li class="nav-header">
            <ul class="list-unstyled collapse in" id="userMenu">
                <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Posts <span class="badge badge-info">4</span></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comments</a></li>
            </ul>
        </li>
        
      </ul>
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-10">
      
      <!-- column 2 -->	
      
      <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>  
      
      	<hr>
      
      	<div class="row">
      		<div class="col-md-12">
				<div class="panel panel-default">
                	<div class="panel-heading">
                      	<div class="panel-title">
                  		<i class="glyphicon glyphicon-wrench pull-right"></i>
                      	<h4>Post Request</h4>
                      	</div>
                	</div>
                	<div class="panel-body">

						<table class="table table-striped">
						<thead>
							<tr><th>Título</th><th>Fecha</th><th></th><th></th></tr>
						</thead>
							<tbody>
							<tr ng-repeat="post in posts"><td>{{post.title}}</td><td>{{post.date | date}}</td><td><a href ng-click="goTo(post._id)" class="glyphicon glyphicon-pencil"></a></td><td><a href ng-click="DeletePost(post._id)" class="glyphicon glyphicon-trash color-red"></a></td></tr>
							</tbody>
						</table>   

                	</div><!--/panel content-->
                </div><!--/panel-->
      		</div>
      	</div>
		
     
</div>
</div>
<!-- /Main -->