<div class="container-fluid neucha another-container">
    <!-- Header -->
    <div>
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div admin-left-menu></div>
                <!-- /col-3 -->
                <div class="col-md-10">
                    <md-card layout-padding>
                        <!-- column 2 -->

                        <div class="padding-15">
                            <h3>{{lang.translate.COMMON.EDITPOST}}</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel-body">

                                    <form class="form form-vertical" ng-submit="savePost(postData)">
                                        <div class="control-group">
                                            <label></label>
                                            <div class="controls">
                                                <md-button class="md-raised md-primary" type="submit">{{lang.translate.COMMON.SAVE}}</md-button>
                                            </div>
                                        </div>
                                        <div layout="horizontal" layout-align="start center">
                                            <label>{{lang.translate.COMMON.PUBLISHED}}:</label>
                                            <md-checkbox ng-model="postData.published" aria-label="Switch 2">
                                            </md-checkbox>
                                        </div>
                                        <div class="control-group">
                                            <label>{{lang.translate.COMMON.TITLE}}</label>
                                            <div class="controls">
                                                <input ng-model="postData.title" type="text" class="form-control" placeholder="Enter Title">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label>{{lang.translate.COMMON.DATE}}</label>
                                            <div class="controls">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label>{{lang.translate.COMMON.MAIN_IMAGE}}</label>
                                            <div class="controls">
                                                <input ng-model="postData.mainImg" type="text" class="form-control" placeholder="Enter Main Image Url">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label>{{lang.translate.COMMON.TAGS}}</label>
                                            <div class="controls">
                                                <input ng-model="postData.stringTags" type="text" class="form-control" placeholder="Introduce tags separadas por comas">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label>{{lang.translate.COMMON.CONTENT}}</label>
                                            <div class="controls">
                                                <div text-angular ng-model="postData.body"></div>

                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label></label>
                                            <div class="controls">
                                                <md-button class="md-raised md-primary" type="submit">{{lang.translate.COMMON.SAVE}}</md-button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <!--/panel-->
                            </div>
                        </div>

                    </md-card>
                </div>
            </div>
        </div>
        <!-- /Main -->
