<div class="container-fluid neucha another-container">
    <!-- Header -->
    <div>
        <!-- Main -->
        <div class="container another-container">
            <div class="row">

                <div admin-left-menu></div>
                <div class="col-md-10">
                    <md-card layout-padding>
                        <!-- column 2 -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <span class="badge badge-primary pull-right">{{posts.total}}</span>
                                        <h4>{{lang.translate.COMMON.POSTS}}</h4>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>{{lang.translate.COMMON.TITLE}}</th>
                                                <th>{{lang.translate.COMMON.DATE}}</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="post in posts">
                                                <td><a href="/blog/entry/{{post.permalink}}">{{post.title}}</a>
                                                </td>
                                                <td>{{post.date | date}}</td>
                                                <td>
                                                    <span ng-if="post.published" class="glyphicon glyphicon-ok"></span>
                                                </td>
                                                <td>
                                                    <a href="/admin/post/{{post.permalink}}" class="glyphicon glyphicon-pencil"></a>
                                                </td>
                                                <td>
                                                    <a href ng-click="dialogBasic($event, post._id)" class="glyphicon glyphicon-trash color-red"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div layout="vertical" layout-fill>
                                        <div layout="vertical" layout-fill layout-sm="horizontal" layout-align="center center" ng-if="loading">
                                            <md-progress-circular mode="indeterminate"></md-progress-circular>
                                        </div>                                        
                                        <md-button ng-click="loadMore()" ng-if="!readedall && !loading" class="md-raised md-primary">{{lang.translate.BLOG.LOADMORE}}</md-button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card>

                </div>
            </div>
        </div>
        <!-- /Main -->
