<div class="container-fluid neucha another-container" >
  <!-- Header -->
  <div style="background-color:white">
    <!-- Main -->
    <div class="container another-container">
      <div class="row">
        
        <div admin-left-menu></div>
    
        <div class="col-md-10">
      
          <!-- column 2 -->	
      
          <a>
            <strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong>
          </a>  
      
          <hr>
      
          <div class="row">
      		  <div class="col-md-12">
              <div main-admin-mngr user-profile="userProfile" save-handler="saveProfile"></div>
              <div skills-admin-mngr user-profile="userProfile" save-handler="saveProfile"></div>
              <div projects-admin-mngr user-profile="userProfile" save-handler="saveProfile"></div>
              <div experiences-admin-mngr user-profile="userProfile" save-handler="saveProfile"></div>
            </div><!--/panel-->
          </div>
        </div>
		
      </div>
    </div>
  </div>
</div>
<!-- /Main -->